services:
  sinai:
    # image: uclalibrary/sinaimanuscripts:latest
    build: .
    stdin_open: true
    tty: true
    command: "sh start-sinai.sh"
    depends_on:
      - db
      - solr
    env_file:
      - ./default.env
      - ./docker.env
    ports:
      - "127.0.0.1:3004:3000"
    volumes:
      - .:/sinai
      - node_modules:/sinai/node_modules
      - tmp:/sinai/tmp
    working_dir: /sinai

  db:
    image: uclalibrary/californica-mariadb:10.3
    volumes:
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"

  solr:
    # image: uclalibrary/solr-ursus
    build: ./solr
    ports:
      - "127.0.0.1:8983:8983"

  solr_test:
    # image: uclalibrary/solr-ursus
    build: ./solr
    ports:
      - "127.0.0.1:8985:8983"
  
  # loaddata:
  #   depends_on:
  #     - solr
  #   env_file:
  #     - docker.env
  #   build:
  #     dockerfile: ./Dockerfile.dataloader
  #   command: [ "sinai", "load", ".", "http://solr:8983/solr/californica" ]

volumes:
  mysql_data:
  node_modules:
  tmp:
