<% doc_presenter = document_presenter(document) %>
<% overview = Sinai::CodicologyMetadataPresenter.new(document: doc_presenter).codicology_terms %>

<% if overview.length > 0 %>
  <input type="radio" name="tabs" id="tabtwo">
  <label for="tabtwo">Codicology</label>
  <div class="primary-metadata_tab-box--sinai">
  <% overview.each do |field_name, field| %>
    <div class="metadata-block--sinai">
        <span class="metadata-block_title--sinai"> <%= field.label %></span>
        <span class="metadata-block_value--sinai"><%= doc_presenter.field_value field %></span>
    </div>
    <% end %>
    <% if @document["viscodex_ssi"] %>
      <div class="metadata-block--sinai">
        <span class="metadata-block_title--sinai">Collation Viewer </span>
        <span class="metadata-block_value--sinai"> <%= link_to @document[:viscodex_ssi], @document[:viscodex_ssi], target: '_blank', alt: 'Collation vizualization', class: "metadata-block_value--sinai" %></span>
      </div>
    <% end %>
  </div>
<% end %>
