<% doc_presenter = document_presenter(document) %>
<% decorations = Sinai::DecorationMetadataPresenter.new(document: doc_presenter).decoration_terms %>

<% if decorations.length > 0 %>
  <input type="radio" name="tabs" id="tabfour">
  <label for="tabfour">Decoration</label>
  <div class="primary-metadata_tab-box--sinai">
  <% decorations.each do |field_name, field| %>
    <div class="metadata-block--sinai">
        <span class="metadata-block_title--sinai"> <%= field.label %></span>
        <span class="metadata-block_value--sinai"><%= doc_presenter.field_value field %></span>
    </div>
    <% end %>
  </div>
<% end %>
