<% doc_presenter = show_presenter(document) %>
<% history = Sinai::HistoryMetadataPresenter.new(document: doc_presenter.fields_to_render).history_terms %>

<% if history.length > 0 %>
  <input type="radio" name="tabs" id="tabthree">
  <label for="tabthree">History</label>
  <div class="primary-metadata_tab-box--sinai">
  <% history.each do |field_name, field| %>
    <% if field_name == "overtext_manuscript_ssm" %>
    <div class="metadata-block--sinai">
        <span class="metadata-block_title--sinai">
          <%= 'Overtext Manuscript' %>
        </span>
        <span class="metadata-block_value--sinai">
         <%= render_overtext_manuscript_links %>
        </span>
      </div>
    <% else %>
      <div class="metadata-block--sinai">
          <span class="metadata-block_title--sinai"> <%= (render_document_show_field_label document, field: field_name).tr(':', '') %></span>
          <span class="metadata-block_value--sinai"><%= doc_presenter.field_value field %></span>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>
