<% doc_presenter = document_presenter(document) %>
<% references = Sinai::ReferencesMetadataPresenter.new(document: doc_presenter).references_terms %>

<% if (references.length > 0) || (@document[:other_versions_tesim].to_a.length > 0) %>

  <input type="radio" name="tabs" id="tabfive">
  <label for="tabfive">References</label>
  <div class="primary-metadata_tab-box--sinai">

    <%# field in references.yml %>
    <% if references.length > 0 %>
      <% references.each do |field_name, field| %>
        <div class="metadata-block--sinai">
          <span class="metadata-block_title--sinai">
            <%= field.label %>
          </span>
          <span class="metadata-block_value--sinai">
            <%= doc_presenter.field_value field %>
          </span>
        </div>
      <% end %>
    <% end %>

    <%# other_versions_tesim %>
    <% if @document[:other_versions_tesim].to_a.length > 0 %>
      <div class="metadata-block--sinai">
        <span class="metadata-block_title--sinai">
          <%= 'Other version(s)' %>
        </span>
        <span class="metadata-block_value--sinai">
          <%= render_other_versions_link %>
        </span>
      </div>
    <% end %>
  </div>
<% end %>
