<!-- TERMS OF USE MODAL -->
<!-- render partial: 'shared/terms_of_use_modal'  -->
<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="modalTermsOfUse" class="modal modal-dialog-centered">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <div class='site-navbar__logo-block site-navbar__logo-block--sinai'>
        <%= image_tag('sinai-logos/logo-sinai-no-text-wht.png', class: 'site-navbar__logo-img--sinai', alt: 'Sinai Manuscripts Digital Library') %>
        <div class='modal__logo-block--sinai-text-logo'>
          <span class='modal__logo-title'>Sinai Manuscripts Digital Library</span>
          <span class="modal__logo-subtitle--sinai">A publication of St. Catherine's Monastery of the Sinai, Egypt</span>
        </div>
      </div>
    </div>

    <div class='modal-terms-of-use'>
      <p class='modal-terms'>Manuscript images from the Sinai Manuscripts Digital Library should not be used without the express consent of St. Catherine's Monastery of the Sinai.</p>

      <p class='modal-terms'>This includes use in published works and social media.</p>

      <p class='modal-terms'>For more information, see the Terms of Use below.</p>

      <p class='modal-terms'>Click "I AGREE..." to continue using the site.</p>
    </div>

    <button class="modal-button"><span class="close modal-close">I AGREE <br>to the Sinai Manuscripts Digital Library<br>Terms of Use</span></button>

    <hr />

    <%= render partial: 'shared/terms_of_use_modal' %>
  </div>
</div>
