// Terms of Use Modal - appears every 90 days

/* The Modal (background) */
.si-terms-of-use-modal-block {
  position: absolute; /* Stay in place */
  display: none; /* Hidden by default */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 7; /* Sit on top */
}

/* Modal Content/Box */
.si-terms-of-use-modal-group {
  padding: 1.25rem;
  width: 92%;
  max-width: 600px;
  background-color: $white;
  border: 1px solid $sinai-primary-dk;
  z-index: 5; /* Sit on top */
}

.si-terms-of-use-modal-title {
  margin-bottom: 5px;
  font-size: $text-24;
  font-family: 'Dosis', sans-serif;
  line-height: 1.25;
  align-self: flex-start;
  color: $sinai-primary-dk;
  text-transform: uppercase;
}

.si-terms-of-use-modal-content {
  margin-bottom: 20px;
  padding: 5px;
  font-size: $text-14;
}

/* The Close Button */
.si-terms-of-use-modal-button {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  margin: auto 25%;
  padding: 5px;
  width: 50%;
  text-align: center;
  color: $sinai-primary-dk;
  background: $sinai-secondary;
  border-style: none;
  text-shadow: 0 0 0 0;

  @media (max-width: 767px) {
    margin: 0;
    width: 100%;
  }
}

.close {
  display: flex;
  align-self: center;
  padding: 5px;
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  text-align: center;
  color: $sinai-primary-dk;
  background: $sinai-secondary;
  border: 1px solid $sinai-secondary;
  opacity: unset;
  text-shadow: 0 0 0 0;
  cursor: pointer;
}

.close:hover {
  font-size: 16px;
  color: $sinai-black;
  opacity: unset;
}
