<div class='content-container--static-page'>
  <!--Content container to hold Sinai static page navigation-->
  <div class='content-container--sinai-static-page'>
    <!--Navigation-->
    <%= render 'sinai_secondary_nav' %>
    <!--Start static content-->
    <div class="sinai-static-page-inner-container">
      <div class='static-page__title-row'>
        <h1 class='static-page__title--sinai'>Contributors & Credits</h1>
      </div>

      <div class='static-page__row'>
        <p class='static-page__text static-page__text--sinai'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem et tortor consequat id porta. Faucibus nisl tincidunt eget nullam non. Ornare lectus sit amet est placerat in egestas erat. Sit amet facilisis magna etiam.
        </p>
      </div>

      <hr class='divider'>

      <div class='static-page__row'>
        <h3 class='static-page__subtitle static-page__subtitle--sinai'>Contributors</h3>

        <p class='static-page__text static-page__text--sinai'>Dictum varius duis at consectetur lorem donec massa sapien faucibus. In metus vulputate eu scelerisque felis imperdiet proin. Ultrices neque ornare aenean euismod elementum. Turpis cursus in hac habitasse platea dictumst. Lorem ipsum dolor sit amet consectetur adipiscing elit ut</p>

        <ul class='static-page__list static-page__list--sinai'>
          <li>Metus Vulputate</li>
          <li>Luctus Henenatis</li>
          <li>Ullamcorper Delit</li>
          <li>Consectetur Puru</li>
          <li>Delsie Plumer</li>
          <li>Fames Turpis</li>
          <li>Eget Fames</li>
          <li>Tincidunt Pulvinar</li>
          <li>Jempus Egestas</li>
        </ul>
      </div>

      <hr class='divider'>

      <div class='static-page__row'>
        <h3 class='static-page__subtitle static-page__subtitle--sinai'>Credits</h3>
        <p class='static-page__text static-page__text--sinai'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem et tortor consequat id porta. Faucibus nisl tincidunt eget nullam non. Ornare lectus sit amet est placerat in egestas erat. Sit amet facilisis magna etiam.
        </p>
        <ul class='static-page__list static-page__list--sinai'>
          <li>Fermentum Odio</li>
          <li>Leo Neque</li>
          <li>Lacus Laoreet</li>
          <li>Amet Massa</li>
          <li>Curabitur Gravida</li>
        </ul>
      </div>

      <hr class='divider'>

      <div class='static-page__row'>
        <p class='static-page__text static-page__text--sinai'><strong>St. Catherine’s Monastery</strong> via <%= mail_to 'sinaipermissions@gmail.com', 'sinaipermissions@gmail.com', class: 'si-link' %></p>
      </div>

    </div>
  </div>
</div>
