<div class='content-container--static-page'>
  <!--Content container to hold Sinai static page navigation-->
  <div class='content-container--sinai-static-page'>
    <!--Navigation-->
    <%= render 'sinai_secondary_nav' %>
    <!--Start static content-->
    <div class="sinai-static-page-inner-container">
      <div class='static-page__title-row'>
        <h1 class='static-page__title--sinai'>Project Team & Credits</h1>
      </div>

      <div class='static-page__row'>
        <p class='static-page__text static-page__text--sinai'>
          The Sinai Manuscripts Digital Library is a collaboration of St. Catherine’s Monastery of the Sinai in Egypt, the Early Manuscripts Electronic Library (EMEL), and the University of California Los Angeles (UCLA).
        </p>
        <p class='static-page__text static-page__text--sinai'>
          <strong>Funding and Sponsorship</strong></br>
          The project is grateful for the support of His Eminence Archbishop Damianos of Sinai, Faran and Raitho; the Holy Council of St. Catherine’s Monastery; and of the Egyptian State and its Ministry of Tourism & Antiquities. The project has received generous financial support from the Ahmanson Foundation, the Arcadia Fund, the Museum of the Bible Scholars Initiative, and the Steinmetz Foundation.
        </p>
      </div>

      <hr class='divider'>

      <div class='static-page__row'>
        <h3 class='static-page__subtitle static-page__subtitle--sinai'>Project Team</h3>

        <ul class='static-page__list static-page__list--sinai'>
          <li><strong><<i>Directors</i></strong></li>
          <li>Father Justin Sinaites, Monastery Librarian (St. Catherine’s Monastery)</li>
          <li>Mike Phelps, Project Director (EMEL)</li>
          <li>Dawn Childress, Project Director (UCLA)</li>
          <li>Damianos Kasotakis, Director of Imaging (EMEL)</li>
        </ul>

        <ul class='static-page__list static-page__list--sinai'>
          <li><strong><<i>Staff</i></strong></li>
          <li>Ryan Horne, Data and Workflows Manager (UCLA)</li>
          <li>Susan Marshall, Data Operations Manager (EMEL)</li>
          <li>Christos Georgiades, Camera Operator (EMEL)</li>
          <li>Lampros Galanis, Camera Operator (EMEL) (2018-2020)</li>
          <li>Vasilis Kasotakis, Camera Operator (EMEL) (2018-2020)</li>
          <li>Iasonas Nikiteas, Camera Operator (EMEL) (2019-2020)</li>
          <li>Rachel Abrahams, Graduate Student Assistant (UCLA)</li>
          <li>Glenn Maur, Graduate Student Assistant (UCLA)</li>
          <li>Jake Tompkins, Graduate Student Assistant (UCLA)</li>
          <li>Rosalie Lack, Program Manager, 2017-2019 (UCLA)</li>
          <li>Kasra Ghorbaninejad, Data and Workflows Coordinator, 2018-2019 (UCLA)</li>
        </ul>

      </div>

      <hr class='divider'>

      <div class='static-page__row'>
        <h3 class='static-page__subtitle static-page__subtitle--sinai'>Contributors</h3>

        <ul class='static-page__list static-page__list--sinai'>
          <li><strong><<i>Consulting Conservators</i></strong></li>
          <li>Konstantinos Choulis, Department of Conservation, University of West Attica, Athens, Greece</li>
          <li>Vasiliki Kokla, Department of Conservation, University of West Attica, Athens, Greece</li>
        </ul>

        <ul class='static-page__list static-page__list--sinai'>
          <li><strong><<i>Advisory Scholars</i></strong></li>
          <li>André Binggeli, Centre National de la Recherche Scientifique</li>
          <li>Sebastian Brock, Oxford University</li>
          <li>Nathan Gibson, Ludwig Maximilian University of Munich</li>
          <li>Miriam Hjälm, Stockholm School of Theology</li>
          <li>Grigory Kessel, Austrian Academy of Sciences</li>
          <li>Jack Tannous, Princeton University</li>
          <li>Agamemnon Tselikas, Center for History & Paleography, National Bank of Greece Cultural Foundation</li>
          <li>Ronny Vollandt, Ludwig Maximilian University of Munich</li>
        </ul>

        <ul class='static-page__list static-page__list--sinai'>
          <li><strong><<i>Web Development (UCLA)</i></strong></li>
          <li>Joshua Gomez</li>
          <li>Tinu Awopetu</li>
          <li>Kevin Clarke</li>
          <li>Darrow Cole</li>
          <li>Jennifer Diamond</li>
          <li>Parinita Ghorpade</li>
          <li>Ashton Prigge</li>
          <li>Anthony Vuong</li>
          <li>Andrew Wallace</li>
        </ul>

        <ul class='static-page__list static-page__list--sinai'>
          <li><strong><<i>Senior Administration and Foundation Relations</i></strong></li>
          <li>Virginia Steel, Norman and Armena Powell University Librarian (UCLA)</li>
          <li>Todd Grappone, Associate University Librarian for Research and Development (UCLA)</li>
          <li>Stephanie Kimura, Executive Director of Development (UCLA)</li>
          <li>Elizabeth McAulay, Head of the Digital Library Program (UCLA)</li>
          <li>Michael Phelps, Executive Director (EMEL)</li>
        </ul>

      </div>

    </div>
  </div>
</div>
