<div class='content-container--static-page'>
  <!--Content container to hold Sinai static page navigation-->
  <div class='content-container--sinai-static-page'>
    <!--Navigation-->
    <%= render 'sinai_secondary_nav' %>
    <!--Start static content-->
    <div class="sinai-static-page-inner-container">
      <div class='static-page__title-row'>
        <h1 class='static-page__title--sinai'>Project Team & Credits</h1>
      </div>

      <div class='static-page__row'>
        <p class='static-page__text static-page__text--sinai'>
          The Sinai Manuscripts Digital Library is a collaboration of St. Catherine’s Monastery of the Sinai in Egypt, the Early Manuscripts Electronic Library (EMEL), and the UCLA Library.
        </p>
      </div>

      <hr class='divider'>

      <div class='static-page__row'>
        <h3 class='static-page__subtitle static-page__subtitle--sinai'>Funding and Sponsorship</h3>
        <p class='static-page__text static-page__text--sinai'>
        The project is grateful for the support of His Eminence Archbishop Damianos of Sinai, Faran and Raitho; the Holy Council of St. Catherine’s Monastery; and of the Egyptian State and its Ministry of Tourism & Antiquities. The project has received generous financial support from the Ahmanson Foundation, the Arcadia Fund, the Museum of the Bible Scholars Initiative, and the Steinmetz Foundation.
        </p>
      </div>

      <hr class='divider'>

      <div class='static-page__row'>
        <h3 class='static-page__subtitle static-page__subtitle--sinai'>Project Team</h3>

        <h4 class='static-page__subtitle static-page__subsubtitle--sinai'>Directors</h4>
        <ul class='static-page__list static-page__list--sinai'>
          <%# <li><strong><<i>Directors</i></strong></li> %>
          <li>Father Justin Sinaites, Monastery Librarian (St. Catherine’s Monastery)</li>
          <li>Mike Phelps, Project Director (EMEL)</li>
          <li class='static-page__credits'>Dawn Childress, Project Director (UCLA)</li>
          <li>Damianos Kasotakis, Director of Imaging (EMEL)</li>
        </ul>

        <h4 class='static-page__subtitle static-page__subsubtitle--sinai'>STAFF</h4>
        <ul class='static-page__list static-page__list--sinai'>
          <%# <li><strong><<i>Staff</i></strong></li> %>
          <li class='static-page__credits'>William Potter, Sinai Projects Data and Metadata Coordinator (UCLA)</li>
          <li class='static-page__credits'>Susan Marshall, Data Operations Manager (EMEL)</li>
          <li class='static-page__credits'>Christos Georgiades, Camera Operator (EMEL)</li>
          <li class='static-page__credits'>Lampros Galanis, Camera Operator (EMEL) (2018-2020)</li>
          <li class='static-page__credits'>Vasilis Kasotakis, Camera Operator (EMEL) (2018-2020)</li>
          <li class='static-page__credits'>Iasonas Nikiteas, Camera Operator (EMEL) (2019-2020)</li>
          <li class='static-page__credits'>Glenn Maur, Graduate Student Assistant (UCLA)</li>
          <li class='static-page__credits'>Dealla Goodings, Graduate Student Assistant (UCLA)</li>
          <li class='static-page__credits'>Ryan Horne, Data and Workflows Manager (UCLA) (2020-2021)</li>
          <li class='static-page__credits'>Nancy Gonzales, Graduate Student Assitant (UCLA) (2022-2023)</li>
          <li class='static-page__credits'>Jake Tompkins, Graduate Student Assistant (UCLA) (2020-2021)</li>
          <li class='static-page__credits'>Rachel Abrahams, Graduate Student Assistant (UCLA) (2020-2021)</li>
          <li class='static-page__credits'>Rosalie Lack, Program Manager, 2017-2019 (UCLA)</li>
          <li class='static-page__credits'>Kasra Ghorbaninejad, Data and Workflows Coordinator, 2018-2019 (UCLA)</li>
        </ul>
      </div>

      <hr class='divider'>

      <div class='static-page__row'>
        <h3 class='static-page__subtitle static-page__subtitle--sinai'>Contributors</h3>

        <h4 class='static-page__subtitle static-page__subsubtitle--sinai'>Consulting Conservators</h4>
        <ul class='static-page__list static-page__list--sinai'>
          <li>Konstantinos Choulis, Department of Conservation, University of West Attica, Athens, Greece</li>
          <li>Vasiliki Kokla, Department of Conservation, University of West Attica, Athens, Greece</li>
        </ul>

        <h4 class='static-page__subtitle static-page__subsubtitle--sinai'>Advisory Scholars</h4>
        <ul class='static-page__list static-page__list--sinai'>
          <li>André Binggeli, Centre National de la Recherche Scientifique</li>
          <li>Sebastian Brock, Oxford University</li>
          <li>Nathan Gibson, Ludwig Maximilian University of Munich</li>
          <li>Miriam Hjälm, Stockholm School of Theology</li>
          <li>Grigory Kessel, Austrian Academy of Sciences</li>
          <li>Jack Tannous, Princeton University</li>
          <li>Agamemnon Tselikas, Center for History & Paleography, National Bank of Greece Cultural Foundation</li>
          <li>Ronny Vollandt, Ludwig Maximilian University of Munich</li>
        </ul>

        <h4 class='static-page__subtitle static-page__subsubtitle--sinai'>Web Development (UCLA)</h4>
        <ul class='static-page__list static-page__list--sinai'>
          <li class='static-page__credits'>Joshua Gomez</li>
          <li>Tinu Awopetu</li>
          <li class='static-page__credits'>Kevin Clarke</li>
          <li class='static-page__credits'>Darrow Cole</li>
          <li class='static-page__credits'>Jen Diamond</li>
          <li class='static-page__credits'>Parinita Ghorpade</li>
          <li class='static-page__credits'>Ashton Prigge</li>
          <li class='static-page__credits'>Anthony Vuong</li>
          <li class='static-page__credits'>Andrew Wallace</li>
        </ul>

        <h4 class='static-page__subtitle static-page__subsubtitle--sinai'>Senior Administration and Foundation Relations</h4>
        <ul class='static-page__list static-page__list--sinai'>
          <li class='static-page__credits'>Virginia Steel, Norman and Armena Powell University Librarian (UCLA)</li>
          <li class='static-page__credits'>Todd Grappone, Associate University Librarian for Research and Development (UCLA)</li>
          <li class='static-page__credits'>Stephanie Kimura, Executive Director of Development (UCLA)</li>
          <li class='static-page__credits'>Elizabeth McAulay, Head of the Digital Library Program (UCLA)</li>
          <li>Michael Phelps, Executive Director (EMEL)</li>
        </ul>
      </div>

    </div>
  </div>
</div>
