.site-container {
  display: flex;
  flex-direction: column;
}

.container-full {
  padding: 0 1rem;

  @media (min-width: 768px) {
    padding: 0 1.5rem;
  }

  @media (min-width: 992px) {
    padding: 0 3.25rem;
  }
}

// This container allows the site navbar dropdown menu to span full width without a break in background color.
@media (max-width: 991px) {
  .container-full--navbar {
    padding: 0;
  }
}

// Mimics Bootstrap .container class; breakpoints modified to decrease negative space for site body content (excludes header, footer)
.container-constrained {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;

  @media (min-width: 599px) {
    max-width: calc(100vw - 100px);
  }

  @media (min-width: 1920px) {
    max-width: 1760px;
  }
}

.main-content-container {
  margin-top: 4.25rem;
  margin-bottom: 4.25rem;

  @media (max-width: 991px) {
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
  }

  @media (max-width: 767px) {
    margin-top: 2.25rem;
    margin-bottom: 3.25rem;
  }
}

/* --------------- */

// Terms of User Modal
// terms_of_use_90day

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  display: none; /* Hidden by default */
  align-self: center;
  top: 0;
  left: 0;
  z-index: 5; /* Sit on top */
  max-width: 500px;
  overflow: auto; /* Enable scroll if needed */
  height: 100%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
  margin: 4% auto;
  padding: 25%;
  background-color: white;
  width: 92%;
  border: 1.5px solid #f7f2ea;
}

.modal__terms-of-use {
  padding: 5px;
  font-size: $text-14;
  margin-bottom: 20px;
}

// Modal Header
.modal__logo-title {
  font-family: 'Dosis', sans-serif;
  line-height: 1.25;
  align-self: flex-start;
  font-size: $text-24;
  color: #87331a;
  text-transform: uppercase;
  margin-bottom: 5px;

  @media (max-width: 800px) {
    font-size: $text-20;
  }
}

/* The Close Button */
.modal-button {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;

  cursor: pointer;
  background: #f7f2ea;
  width: 50%;
  padding: 5px;
  color: #87331a;
  text-align: center;
  text-shadow: 0 0 0 0;
  border-style: none;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.close {
  display: flex;
  align-self: center;
  text-shadow: 0 0 0 0;
  text-align: center;
  color: #87331a;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding:5px;
  cursor: pointer;
  background: #f7f2ea;
  border: 1px solid #f7f2ea;
  opacity:unset;
}
.close:hover {
  font-size: 16px;
  color: black;
  opacity:unset;
}
