.site-container {
  display: flex;
  flex-direction: column;
}

.container-full {
  padding: 0 1rem;

  @media (min-width: 768px) {
    padding: 0 1.5rem;
  }

  @media (min-width: 992px) {
    padding: 0 3.25rem;
  }
}

// This container allows the site navbar dropdown menu to span full width without a break in background color.
@media (max-width: 991px) {
  .container-full--navbar {
    padding: 0;
  }
}

// Mimics Bootstrap .container class; breakpoints modified to decrease negative space for site body content (excludes header, footer)
.container-constrained {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;

  @media (min-width: 599px) {
    max-width: calc(100vw - 100px);
  }

  @media (min-width: 1920px) {
    max-width: 1760px;
  }
}

.main-content-container {
  margin-top: 4.25rem;
  margin-bottom: 4.25rem;

  @media (max-width: 991px) {
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
  }

  @media (max-width: 767px) {
    margin-top: 2.25rem;
    margin-bottom: 3.25rem;
  }
}

/* --------------- */

// Terms of User Modal

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f7f2ea;
  margin: 4% auto;
  padding: 25%;
  border: 1px solid #87331a;
  width: 92%;
}

.modal-terms-of-use {
  font-size: $text-14;
  padding: 20px;
}

.modal-terms {
  margin: 20px auto;
}

// Modal Header
.modal-headersite-navbar__logo-block {
  background-color: #87331a;
  padding: 15px;
}
.modal-header {
  padding: 2px 5px;
  background-color: #87331a;
  color: white;
}

.modal-logo-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  white-space: nobreak;

  @media (min-width: 1430px) {
    width: 520px;
  }

  @media (max-width: 991px) {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
  }

  @media (max-width: 767px) {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 374px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
  }
}

.modal__logo-img--sinai {
  color: white;
  padding-right: 5px;
  height: 66px;
}

.modal__logo-block--sinai-text-logo {
  font-family: 'Dosis', sans-serif;
  line-height: 1.25;
  align-self: flex-end;
}

.modal__logo-title {
  font-size: $text-28;
  color: white;
  text-transform: uppercase;

  @media (max-width: 800px) {
    font-size: $text-24;
  }

  @media (max-width: 600px) {
    font-size: $text-18;
  }
}

.modal__logo-subtitle--sinai {
  display: block;
  font-size: $text-14;
  font-weight: 500;
  color: #e5e5e5;

  @media (max-width: 800px) {
    font-size: $text-14;
  }

  @media (max-width: 600px) {
    font-size: 11px;
  }
}

/* The Close Button */
.modal-button {
  font-weight: 200;
  cursor: pointer;
  background: linear-gradient(#87331a, #962605);
  opacity:unset;
  width: 50%;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 1px;
  color: white;
  text-align: center;
  text-shadow: 0 0 0 0;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.modal-button:hover {
  background: linear-gradient(
    #323232,#191919);
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 0 0;
  opacity:unset;
  padding: 10px;
  margin-bottom:50px;
}

.modal-close {
  color: white;
  font-size: 16px;
  text-shadow: 0 0 0 0;
  float:none;
  opacity:unset;
}

.close {
  text-shadow: 0 0 0 0;
  font-weight: 400;
}
.close:hover {
  color: white;
}

/* Margin over Terms of Use */
.terms {
  margin-top: 25px;
}

.terms-title {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.terms-subtitle {
  font-size: 18px;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
