<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal" tabindex="-1" role="dialog" style="display: <%= @terms_of_use_30day %>;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Terms of Use</h5>
        </div>
        <div class="modal-body">
            <p>Manuscript images from the Sinai Manuscripts Digital Library should not be used without the express consent of St. Catherine's Monastery of the Sinai. This includes use in published works and social media. For more information, see the Terms of Use. Click "I agree" to continue using the site.</p>
        </div>
        <div class="modal-footer">
        <%= link_to 'I agree', '/', class: 'btn-base btn-outline-sinai--primary btn-modal' %>
        </div>
        </div>
    </div>
    </div>
</div>
