<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content msg-container">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Terms of Use</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Manuscript images from the Sinai Manuscripts Digital Library should not be used without the express consent of St. Catherine's Monastery of the Sinai. This includes use in published works and social media. For more information, see the Terms of Use. Click "I agree" to continue using the site.
        <div class="si-auth-modal-btn-block">
          <div class="si-auth-modal-btn-group">
            <%= link_to 'I agree', '/terms-of-use', class: 'btn-base btn-outline-sinai--primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
