name: Run CI Suite

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - name: Set up Ruby
        uses: ruby/setup-ruby@b818bea8cf015031920150a891dbdd4105cc7e47
        with:
          ruby-version: "2.5"
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: rubocop
        run: bundle exec rubocop

  erblint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - name: Set up Ruby
        uses: ruby/setup-ruby@b818bea8cf015031920150a891dbdd4105cc7e47
        with:
          ruby-version: "2.5"
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: erblint
        run: bundle exec erblint --lint-all

  stylelint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - uses: actions/setup-node@46071b5c7a2e0c34e49c3cb8a0e792e86e18d5ea
      - run: yarn install --frozen-lockfile
      - run: yarn run lint

  rspec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - name: Login to DockerHub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9 # v1.10.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Start and Initialize Docker services
        run: |
          docker compose run sinai bundle install
          docker compose up --detach db solr_test
          docker compose run sinai bundle exec rails db:setup
      - name: run rspec
        run: docker compose run sinai bundle exec rspec spec
      - name: Stop docker services
        run: docker compose down

  cypress:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # <--- fetch full git history required by Chromatic
          persist-credentials: true
      - name: Login to DockerHub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9 # v1.10.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Start and Initialize Docker services
        run: |
          docker compose run sinai bundle install
          docker compose up --detach
          docker compose run sinai bundle exec rails db:setup
          docker compose ps
      - uses: cypress-io/github-action@v5.7.2
        with:
          command-prefix: "percy exec -- npx"
          working-directory: e2e
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
          ELECTRON_EXTRA_LAUNCH_ARGS: --remote-debugging-port=9222
      - name: Run Chromatic
        working-directory: e2e
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          ELECTRON_EXTRA_LAUNCH_ARGS: --remote-debugging-port=9222
        run: npx chromatic --cypress --project-token=$CHROMATIC_PROJECT_TOKEN --exit-zero-on-changes

      - name: Stop docker services
        run: docker compose down
